# Terraform
#############

# .terraform directory - stores downloaded providers and modules
terraform/.terraform/
terraform/.terraform*

# analytics-service
ms/analytics-service/__pycache__/*
ms/analytics-service/tests/__pycache__/*